@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(44, 43, 43);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(113, 177, 184);
  background: linear-gradient(0deg, rgba(113, 177, 184, 1) 0%, rgba(121, 157, 30, 1) 100%);
  color: white;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  color: rgb(211, 99, 122);
  font-size: 34px;
  font-weight: bold;
  margin-left: 40px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
}



.nav-links a {
  margin-right: 24px;
  color: white;
  cursor: pointer;
  text-decoration: none;

}

.nav-links a.active {
  color: rgb(211, 99, 122);
  border-bottom: 2px solid rgb(211, 99, 122);
  border-right: 2px solid rgb(211, 99, 122);
  padding-right: 8px;
}


.home {
  margin: 34px;
}

.home p {
  color: rgb(211, 99, 122);
  font-size: 24px;
  margin-bottom: 0px;
}

.blogs {
  display: flex;
  align-items: center;
  justify-content: start;

}

.blogs div {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-top: 0px;
}

.blogs div a {
  color: rgb(95, 152, 133);
  text-decoration: none;

}

.blogs:hover {
  box-shadow: 2px 2px 4px rgb(95, 152, 133);

}

.blogs p {
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.btn {
  background: rgb(113, 177, 184);
  background: linear-gradient(0deg, rgba(113, 177, 184, 1) 0%, rgba(121, 157, 30, 1) 100%);
  border-radius: 6px;
  padding: 6px 18px;
  color: rgb(211, 99, 122);
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgb(211, 99, 122);
  margin-bottom: 24px;
}

.btn:hover {
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: ease-in-out 0.7s;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(113, 177, 184, 1);
  border-right: 16px solid rgba(121, 157, 30, 1);
  border-bottom: 16px solid rgb(211, 99, 122);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.create {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;

}
.create h2 {
  color: rgb(113, 184, 138);
  font-size: 30px;
}
.create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  border: 2px solid rgb(113, 184, 138);
  /* box-shadow: 4px 4px 7px rgb(113, 184, 138); */
  margin-bottom: 24px;
  background-color: white;
}

.create label {
  color: rgb(211, 99, 122);
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  
}
.create input {
  width: 80%;
  border-radius: 6px;
  border: 1px solid rgb(109, 107, 107);
  text-align: center;
  font-size: 22px;
  color:rgb(79, 77, 77);
}
  .create input:focus {
    outline: grey;
  }
.create select {
  width: 80%;
  border-radius: 6px;
  border: 1px solid rgb(109, 107, 107);
  text-align: center;
  font-size: 22px;
  color: rgb(79, 77, 77);
  margin-bottom: 24px;

}
.create select:focus {
  outline: grey;
}
.create textarea {
  width: 80%;
  border-radius: 6px;
  border: 1px solid rgb(109, 107, 107);
  font-size: 22px;
  text-align: center;
  color: rgb(79, 77, 77);
}
.create textarea:focus {
  outline: grey;
}

.about {
  color: white;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid;
  width: 40%;
  margin: 0 auto;
}

.contacts {
  color: rgb(113, 184, 138);
  text-align: center;
  border-bottom: 1px solid;
  width: 40%;
  margin: 0 auto;
  
}
.contacts h2 {
  font-size: 30px;
  margin-bottom: 44px;

}
.icon-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
}
.contacts i {
  color: white;
  font-size: 34px;
  box-shadow: 2px 2px 4px rgb(113, 184, 138);
}

.blog-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.blog-details article {
  text-align: center;
  width: 70%;
  border-left: 1 solid white;

}

.blog-details h2 {
  color: rgb(95, 152, 133);
  border-bottom: 1px solid;
  padding-bottom: 12px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.blog-details p {
  color: rgb(211, 99, 122);
  font-size: 16px;
  margin-top: 0px;
}

.blog-details .text {
  text-align: start;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(95, 152, 133);
  margin-bottom: 24px;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 34px;
  width: 30%;
  box-shadow: 2px 2px 4px rgb(211, 99, 122);

}
.not-found:hover {
  box-shadow: 2px 2px 4px rgb(95, 152, 133);
}
.not-found h2 {
  color: rgb(211, 99, 122);
  font-size: 34px;
  margin-top:16px;
}
.not-found p {
  color: white;
  font-size: 20px;
}
.not-found a {
  font-size: 18px;
  color: rgb(95, 152, 133);
  margin-bottom: 24px;
} 